/* Credentials
https://www.w3schools.com/css/css_form_inputs.asp
https://www.w3schools.com/csS/css3_buttons.asp
*/

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

button{
  margin-top: 56px;
  margin-bottom: 24;
  margin-right: 100px;
  align-items: center;
  background-color: aquamarine;
  border: none;
  color: white;
  font-size: 48px;
  border-radius: 12px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover{
  background-color: black;
  color: white;
}

input[type=text]{
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
  background-color: aquamarine;
  color: black;
  border: 2px solid aqua;
  border-radius: 8px;
}